.mails {
	width: 100%;
	min-width: 50%;
	height: calc(100vh - 6rem);
	overflow: scroll;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.mails-dashboard {
	display: flex;
	gap: 2rem;
	padding: 4rem;
}
